@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap");
/**************************************COLOURS*******************************************/
/*Work*/
/*Play*/
/*Study*/
/*Exercise*/
/*Social*/
/*Self-Care*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0f1424;
  font-family: Rubik, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 0;
}

.profile_container {
  margin: 2em 0;
  min-width: 350px;
  min-height: auto;
  background-color: #1c1f4a;
  border-radius: 1em;
}

.profile_container .profileInner_ctnr {
  background-color: #5847eb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1em;
  padding: .5em;
}

.profile_container .profileInner_ctnr img {
  width: 120px;
  height: 120px;
  -webkit-transform: scale(0.6, 0.6);
          transform: scale(0.6, 0.6);
  border: 5px solid white;
  border-radius: 50%;
}

.profile_container .profileInner_ctnr h1 {
  font-size: 25px;
  font-weight: 300;
  margin: .5em .5em .5em 0em;
  padding: .5em .5em .5em 0em;
}

.profile_container .profileInner_ctnr h1 span {
  font-size: large;
  display: block;
  color: #bdc1ff;
}

.profile_container .profileOuter_ctnr ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0;
  padding: 1.4em .8em .8em .8em;
}

.profile_container .profileOuter_ctnr ul li {
  padding: .2em;
  list-style: none;
  color: #bdc1ff;
}

.profile_container .profileOuter_ctnr ul li:hover {
  color: white;
}

.activities_ctnr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.activities_ctnr .card_container {
  width: 350px;
  height: auto;
  margin-bottom: 1em;
}

.activities_ctnr .card_container_1 {
  background-color: #ff8c66;
  border-radius: 1em;
}

.activities_ctnr .card_container_2 {
  background-color: #56c2e6;
  border-radius: 1em;
}

.activities_ctnr .card_container_3 {
  background-color: #ff5c7c;
  border-radius: 1em;
}

.activities_ctnr .card_container_4 {
  background-color: #4acf81;
  border-radius: 1em;
}

.activities_ctnr .card_container_5 {
  background-color: #7536d3;
  border-radius: 1em;
}

.activities_ctnr .card_container_6 {
  background-color: #f1c65b;
  border-radius: 1em;
}

.activities_ctnr .outer_card {
  height: 24px;
  border-radius: 1em;
}

.activities_ctnr .outer_card svg {
  position: relative;
  right: 20px;
  float: right;
}

.activities_ctnr .inner_card {
  position: relative;
  background-color: #1c1f4a;
  border-radius: 1em;
  z-index: 100;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=main.css.map */